:root{
  --body: 'Geist', sans-serif;
  --monospace: 'Geist Mono', monospace;

  --white: #eeeeee;
  --black: #080808;
  
  --text-disabled: #434343;
  --layout-disabled: #2C2C2C;

  --semantic-error: #850000;
  --semantic-warning: #785600;
  --semantic-success: #015C23;

  --layout-background: var(--black);
  --layout-accent: var(--white);
  --layout-light: #212121;
  --layout-dark: #0D0D0D;

  --text-regular: var(--white);
  --text-accent: var(--black);
}
.light {
  
  --layout-background: var(--white);
  --layout-accent: var(--black);
  --layout-light: #D2D2D2;
  --layout-dark: #E2E2E2;

  --text-regular: var(--black);
  --text-accent: var(--white);

}