@import url("./fonts/geist.css");
@import url("./fonts/geist-mono.css");
@import url("./fonts/courgette.css");
/* Import TailwindCSS  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply global styles */
* {
  @apply outline-none;
  @apply font-body;
  @apply select-none;
  @apply antialiased;
}

body {
  @apply w-screen;
  @apply h-screen;
  @apply text-regular;
  @apply bg-background;
}

@layer {
  :root{
  --body: 'Geist', sans-serif;
  --monospace: 'Geist Mono', monospace;

  --white: 238 238 238;
  --black: 8 8 8;
  
  --text-disabled: 67 67 67;
  --layout-disabled: 44 44 44;

  --semantic-error: 133 0 0;
  --semantic-warning: 120 86 0;
  --semantic-success: 1 92 35;

  --layout-background: 8 8 8;
  --layout-accent:  238 238 238;;
  --layout-light: 33 33 33;
  --layout-dark: 13 13 13;

  --text-regular:  238 238 238;
  --text-accent: 8 8 8;

  }

  .light {
  
  --layout-background:  238 238 238;
  --layout-accent: 8 8 8;
  --layout-light: 210 210 210;
  --layout-dark: 226 226 226;

  --text-regular: 8 8 8;
  --text-accent:  238 238 238;

}

}